* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root {
    --primary-color: rgb(194, 194, 194);
    --accent-color: #d11d60;
}   

body {
    background-image: url("bg-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.loginbox {
    position: relative;
    width: 450px;
    height: max-content;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    padding: 100px 40px 50px 40px;
}

.loginheader {
    position: absolute;
    top: 0px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.headerlogo{
    position: absolute;
    left:-140px;
    height: 70px;
    width: 140px;
}

.loginheader span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

.loginheader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.loginheader::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.inputbox {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#username-email{
    margin-bottom: 10px;
}

.inputfield {
    width: 100%;
    height: 55px;
    background: transparent;
    font-size: 20px;
    color: white;
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

.label {
    position: absolute;
    font-size: 18px;
    color: white;
    top: 18px;
    left: 20px;
    transition: 0.2s;
}

.inputfield:focus~.label,
.inputfield:valid~.label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 0 10px;
}

.icon {
    position: absolute;
    color: white;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.rememberforgot {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: white;
    font-size: 17px;
    }

#remember:hover{
    cursor: pointer;
}

.submit{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: var(--primary-color);
    transition: 0.5s; /*Transition for smooth color changing*/
}

.submit:hover{
    background-color: var(--accent-color);
    cursor: pointer;
    color: white;

}


.register {
    text-align: center;
    color: white;
    font-size: 17px;
    }

.register a{
    font-size: 17px;
}    