* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0px 20px 0px 20px;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

img {
    margin-bottom: 5px;
    margin-left: 10px;
    height: 60px;
    width: 120px;
    transition: 0.5s;
}

#sidebar-active {
    display: none;
}

.open-sidebar {
    display: none;
}

.close-sidebar {
    display: none;
}

.sidebar {
    display: none;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d11d60;
    font-size: 25px;
    display: none;
    transition: 0.5s;
}

.navbar {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

span {
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;

}


span:hover, a:hover {
    background-color: #d11d60;
    border-radius: 10px;
    cursor: pointer;
}

a:hover{
    color: white;
}

.active-bg-change{
    background-color: #d11d60;
    border-radius: 10px;
    cursor: pointer;
}

.active-fontcolor-change{
    color: white;
}



.login {
    margin: 10px;
    padding: 0px 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    align-self: flex-end;
    animation: zoomInOut 1.5s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.login:hover {
    background-color: #d11d60;
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}

header .login-section a:hover{
    background-color:rgba(255, 255, 255, 0);
    color: none;
    border-radius: 0px;   
}




@media only screen and (max-width:991px) {

    .navbar {
        display: none;
    }

    .open-sidebar {
        display: block;
    }

    .close-sidebar {
        display: none;
    }

    h3 {
        text-align: center;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #d11d60;
        font-size: 25px;
        margin-right: 0px;
        margin-left: 0px;
        flex-grow: 1;
        text-wrap: nowrap;
    }

    .login {
        display: block;
    }

    #sidebar-active:checked~.sidebar {
        display: flex;
        flex-flow: column nowrap;
    }

    #sidebar-active:checked~.close-sidebar {
        display: block;
    }

    #sidebar-active:checked~.open-sidebar {
        display: none;
    }

    #sidebar-active:checked~.overlay {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1000;
    }

    .sidebar {
        position: fixed;
        margin: 5px;
        top: 60px;
        right: 0px;
        border-radius: 10px;
        padding: 10px;
        width: 50%;
        background-color: rgb(194, 194, 194);
        z-index: 1001;
    }

    


}

@media only screen and (max-width:603px) {

    h3{
        font-size: 20px;
    }

}
@media only screen and (max-width:548px) {

    img {
        margin-bottom: 5px;
        margin-left: 10px;
        height: 50px;
        width: 100px;
    }

    h3{
        font-size: 15px;
    }

}

@media only screen and (max-width:481px) {

    img {
        margin-bottom: 5px;
        margin-left: 10px;
        height: 60px;
        width: 120px;
    }

    h3 {
        display: none;
    }

    .sidebar {
        position: fixed;
        margin: 5px 5px 5px 5px;
        top: 60px;
        border-radius: 10px;
        padding: 10px;
        width: calc(100% - 10px);
        background-color: rgb(194, 194, 194);
        z-index: 1001;
    }

    .login-section{
        margin-left: auto;
    }
}